body {
	background-color: #242424;
	/*background-color: #0F484F;*/
}

::selection {
	background: #BFBFBF;
	/*#C84642;*/
	color: #111111;
}
::-moz-selection {
  background: #BFBFBF;
	/*#C84642;*/
	color: #111111;
}

#logo {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: #BFBFBF;
	box-shadow:
		0 0 0 10px #BFBFBF,
		inset 0 0 0 3px #222,
		inset 0 0 0 60px #BFBFBF,
		inset 0 0 0px 63px #222,
		inset 0 0 0 68px #00e3ef,
		inset 0 0 0 100px #222;
	margin-top: 35px;
	margin-bottom: 90px;
	margin-left: auto;
	margin-right: auto;
}

/*#logo {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: #1B8551;
	box-shadow:
    0 0 0 8px grey,
    0 0 0 13px #8f918b,
		inset #343434 0px 0px 6px 1px,
	  /*inset hsla(210,100%,100%,.7) 0  0px 0px 0px,

	  inset #1B8551 6px 6px 6px 6px;
	margin-top: 35px;
	margin-bottom: 90px;
	margin-left: auto;
	margin-right: auto;
}*/

.machine {
	font-size: 15px;
	color: #111111;
	margin-left: 15px;
	margin-top: 20px;
	background-color: #333333;
	text-color: #1C1C1C;
	border-radius: 15px;
	padding: 10px;
	color: #DDDDDD;
	font-family: 'acremedium';
}

.you {
	font-size: 15px;
	color: #111111;
	margin-right: 15px;
	margin-top: 20px;
	background-color: #333333;
	text-color: #1C1C1C;
	border-radius: 15px;
	padding: 10px;
	color: #DDDDDD;
	font-family: 'acremedium';
}

#subtitle {
	text-align: center;
	font-size: 70px;
	font-family: 'Anurati-Regular';
	letter-spacing: 15px;
	text-indent: 15px;
	/*padding: 30px 0px 0px 0px;*/
	line-height: 25px;
	font-weight: normal;
	/*margin-bottom: 60px;*/
	color: #111111;
}

#player {
	position: fixed;
	top: 10px;
	right: 15px;
	font-size: 25px;
}

#config {
	position: fixed;
	top: 45px;
	right: 12px;
	font-size: 25px;
	text-decoration: none;
	color: #111111;
}


#config a {
	color: inherit;
	text-decoration: inherit;
}

#title a {
	color: inherit;
	text-decoration: none;
}

#fizzr {
	color: #F05053;
}

#title {
	text-align: center;
	font-size: 60px;
	font-family: 'geometria_lightlight';
	letter-spacing: 15px;
	/*text-indent: 15px;*/
	/*padding: 30px 0px 0px 0px;*/
	/*line-height: 25px;*/
	font-weight: normal;
	/*margin-bottom: 60px;*/
	color: #111111;
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	margin: auto;
}

#emotion {
	text-align: center;
	color: #111111;
	margin: auto;
	font-family: 'fnordtwenty-three';
}

#title2 {
	text-align: center;
	font-size: 35px;
	font-family: 'Market-Deco';
	/*letter-spacing: 15px;
	text-indent: 15px;*/
	/*padding: 30px 0px 0px 0px;*/
	/*line-height: 25px;*/
	font-weight: normal;
	margin-bottom: 60px;
	color: #D4A45D;
}

#bigline {
	height: 100%;
	width: 600px;
	position: fixed;
	right: 80px;
	bottom: 0;

	/*background-image: 	-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%, hsla(0,0%, 100%,0) 9%),
						-webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%, hsla(0,0%,  0%,0) 6%),
						-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%, hsla(0,0%,100%,0) 4%),
						-webkit-linear-gradient(-90deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);*/
	/*background-image: url("metal_texture.jpg");*/
	background-color: #1C1C1C;

}

#otherline {
	position: fixed;
	right: 0;
	width: 80px;
	height: 100%;
	bottom: 0;
	/*background-color: #BBBBBB;*/
	background-image:
	     -moz-linear-gradient(45deg, #000 25%, transparent 25%),
	     -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
	     -moz-linear-gradient(45deg, transparent 75%, #000 75%),
	     -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
	background-image:
	 -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)),
	 -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
	 -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
	 -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));

	-moz-background-size:100px 100px;
	background-size:100px 100px;
	-webkit-background-size:100px 101px; /* override value for shitty webkit */

	background-position:0 0, 50px 0, 50px -50px, 0px 50px;
}

#smallerbline {
	/*margin-left: auto;
	margin-right: auto;*/

	height: 450px;
	width: 570px;
	/*position: relative;
	vertical-align: bottom;
	bottom: 0;*/
	overflow: hidden;
	background-color: #FFFFFF;
	padding: 15px;
	padding-top: 25px;

	top: 0;
	/*margin: auto;*/
	/*margin-left: 10px;
	margin-right: 10px;*/
}

#wholeanswr {
	height: 100%;
	width: calc(100% - 680px);
	right: 680px;
	top: 0;
	overflow-y: auto;
}

#mainform {
	display: table-cell;
	vertical-align: middle;
	display: flex;
}

#searchbar {
	color: #FFFFFF;
	padding: 10px;
	background-color: #434343;

	/*box-shadow: #1A1110 0  0px 4px 3px;*/
	font-family: 'corbert_condensedregular';
	font-size: 20px;
	border: 0;
	border-left: 1px solid #FFFFFF;
	width: calc(100% - 81px);
	height: 25px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

/*#searchbar:focus {
	box-shadow: #1A1110 0  0px 2px 3px;
}*/

#sendbutton {
	width: 60px;
  height: 45px;
	text-align: center;
  color: #FFFFFF;
  background-color: #434343;
	/*box-shadow: #1A1110 0  0px 4px 3px;*/
	border: 0;
	border-right: 1px solid #FFFFFF;
	font-size: 20px;
}

#mapc {
	text-align: center;
	margin: auto;
	border: solid 1px #D4A45D;
	padding: 10px;
	position: absolute;
	top: 20px;
}

.centered {
	text-align: justify;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 1000px;
	font-family: 'acremedium';
	font-size: 20px;
	color: #818181;
	letter-spacing: 3px;
	line-height: 40px;
}

#bigline p:not(#eatp), #bigline p:not(#machine) {
	line-height: 50px;
	font-size: 40px;
	width: 260px;

	letter-spacing: 5px;
	text-indent: 5px;

	color: #BFBFBF;

	margin: 50px;

	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'acremedium';
}

#bigline p span:hover {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  /*text-shadow: 0 0 5px #1A1110, 0 0 8px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px #1A1110;*/
	text-shadow: 0 0 30px rgba(255, 255, 255, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.thumbnail {
	float: right;
	border-left: solid 25px #2C2C2C;
	border-bottom: solid 5px #2C2C2C;
	background-color: #CCCCCC;
	color: #111111;
}

#eatp {
	position: fixed;
	bottom: -19px;
	right: 70px;
	font-family: 'Busorama';	/*font-family: 'hamburgerheavenregular';*/
	font-size: 20px;
	letter-spacing: 2px;
	text-indent: 2px;
}

#eatp, #eatp a, #sign, #marquee p {
	text-decoration: none;
	color: #EEEEEE;
	line-height: 18px;
}

#sign {
	font-family: 'rechtmanplain';
	font-size: 35px;
	letter-spacing: 3px;
}

#marquee {
	height: 100%;
  overflow: hidden;
  position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

#marquee p {
	font-family: 'Busorama';
	font-size: 20px;
	position: absolute;
	bottom: -10px;
	letter-spacing: 2px;
	text-indent: 2px;
  width: 100%;
  height: 100%;
  margin: 0;
	display: inline;
  text-align: center;
	white-space: nowrap;
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  -moz-animation: scroll-left 25s linear infinite;
  -webkit-animation: scroll-left 25s linear infinite;
  animation: scroll-left 25s linear infinite;
}

@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%);
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%);
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
 }
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  width: 400px;
  height: 300px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 5px;
  background: #3A3A3A;
  text-align: center;
  color: #D9D9D9;
	font-family: 'acremedium';
}

.mtitle, .mtitle a {
  text-decoration: none;
  color: #D9D9D9; }

.close {
  background: #D9D9D9;
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 10px;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  width: 100px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #111111; }
