---
---

@import "{{ site.theme }}";

section#downloads a {
    display: block;
    position: relative;
    height: 100px;
    width: 275px;
    padding-top: 120px;
    background: transparent url(../images/download-sprite.png) 0 0 no-repeat;
    text-align: center;
    line-height: 1;
    color: #fff;
    font-family: 'Open Sans', Myriad, Calibri, sans-serif;
    font-weight: 800;
    font-size: 1.3em;
}

.tgz, .zip {
    border: 0px;
}
